--
-- PostgreSQL database cluster dump
--

\restrict gvWcFp5T3Rv7D9yeGEcbfs5iIBq7OcL8yhETXcPftbrohq6D0Y1pULjBciZ2DEN

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE hse_database;




--
-- Drop roles
--

DROP ROLE "Ramosa";


--
-- Roles
--

CREATE ROLE "Ramosa";
ALTER ROLE "Ramosa" WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:/HO/GqAEvlUlCd0yPIkhww==$XL80A07vy2X+ZQDFdUTEx+qmxmorryw+r6OzwhbjW8M=:VbQD2ol3gVqDdCmDLER/hGWoacCPCRzjX9DvSSIqmrI=';

--
-- User Configurations
--








\unrestrict gvWcFp5T3Rv7D9yeGEcbfs5iIBq7OcL8yhETXcPftbrohq6D0Y1pULjBciZ2DEN

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict 0fj3IIDcQMkWorXZg8K1hQ5ObRqWhss1bpN0nmbs3fPiVaOGzAqIhvafRIA0n91

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: Ramosa
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO "Ramosa";

\unrestrict 0fj3IIDcQMkWorXZg8K1hQ5ObRqWhss1bpN0nmbs3fPiVaOGzAqIhvafRIA0n91
\connect template1
\restrict 0fj3IIDcQMkWorXZg8K1hQ5ObRqWhss1bpN0nmbs3fPiVaOGzAqIhvafRIA0n91

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: Ramosa
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: Ramosa
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict 0fj3IIDcQMkWorXZg8K1hQ5ObRqWhss1bpN0nmbs3fPiVaOGzAqIhvafRIA0n91
\connect template1
\restrict 0fj3IIDcQMkWorXZg8K1hQ5ObRqWhss1bpN0nmbs3fPiVaOGzAqIhvafRIA0n91

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: Ramosa
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 0fj3IIDcQMkWorXZg8K1hQ5ObRqWhss1bpN0nmbs3fPiVaOGzAqIhvafRIA0n91

--
-- Database "hse_database" dump
--

--
-- PostgreSQL database dump
--

\restrict bmd3xPihJqNlGlq4P7z85IGuPOsEZ4ue0q7zbG8Y9EZvLwW1HDjSK6xAzL5Qvjv

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hse_database; Type: DATABASE; Schema: -; Owner: Ramosa
--

CREATE DATABASE hse_database WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE hse_database OWNER TO "Ramosa";

\unrestrict bmd3xPihJqNlGlq4P7z85IGuPOsEZ4ue0q7zbG8Y9EZvLwW1HDjSK6xAzL5Qvjv
\connect hse_database
\restrict bmd3xPihJqNlGlq4P7z85IGuPOsEZ4ue0q7zbG8Y9EZvLwW1HDjSK6xAzL5Qvjv

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: Ramosa
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO "Ramosa";

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: Ramosa
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CategoriaIncendio; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."CategoriaIncendio" AS ENUM (
    'BAJO',
    'ORDINARIO',
    'ALTO'
);


ALTER TYPE public."CategoriaIncendio" OWNER TO "Ramosa";

--
-- Name: EstadoAutorizacion; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoAutorizacion" AS ENUM (
    'PENDIENTE',
    'AUTORIZADO',
    'SUSPENDIDO',
    'REVOCADO'
);


ALTER TYPE public."EstadoAutorizacion" OWNER TO "Ramosa";

--
-- Name: EstadoCalibracion; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoCalibracion" AS ENUM (
    'CONFORME',
    'NO_CONFORME',
    'CONDICIONADO'
);


ALTER TYPE public."EstadoCalibracion" OWNER TO "Ramosa";

--
-- Name: EstadoEMO; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoEMO" AS ENUM (
    'APTO',
    'NO_APTO',
    'APTO_RESTRICCION'
);


ALTER TYPE public."EstadoEMO" OWNER TO "Ramosa";

--
-- Name: EstadoEquipo; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoEquipo" AS ENUM (
    'OPERATIVO',
    'EN_MANTENIMIENTO',
    'BLOQUEADO_CERTIFICADO',
    'BLOQUEADO_INSPECCION',
    'BAJA_TECNICA'
);


ALTER TYPE public."EstadoEquipo" OWNER TO "Ramosa";

--
-- Name: EstadoInspeccion; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoInspeccion" AS ENUM (
    'EN_PROGRESO',
    'COMPLETADA',
    'CANCELADA'
);


ALTER TYPE public."EstadoInspeccion" OWNER TO "Ramosa";

--
-- Name: EstadoLaboral; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoLaboral" AS ENUM (
    'ACTIVO',
    'CESADO'
);


ALTER TYPE public."EstadoLaboral" OWNER TO "Ramosa";

--
-- Name: EstadoLoto; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."EstadoLoto" AS ENUM (
    'BLOQUEADO',
    'DESBLOQUEADO',
    'INCIDENCIA'
);


ALTER TYPE public."EstadoLoto" OWNER TO "Ramosa";

--
-- Name: NivelRiesgo; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."NivelRiesgo" AS ENUM (
    'BAJO',
    'MEDIO',
    'ALTO',
    'CRITICO'
);


ALTER TYPE public."NivelRiesgo" OWNER TO "Ramosa";

--
-- Name: ResultadoInspeccionSUNAFIL; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."ResultadoInspeccionSUNAFIL" AS ENUM (
    'CONFORME',
    'OBSERVADO',
    'NO_CONFORME',
    'SANCIONADO'
);


ALTER TYPE public."ResultadoInspeccionSUNAFIL" OWNER TO "Ramosa";

--
-- Name: Rol; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."Rol" AS ENUM (
    'COORDINADOR',
    'SUPERVISOR',
    'JEFATURA'
);


ALTER TYPE public."Rol" OWNER TO "Ramosa";

--
-- Name: SeveridadFalta; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."SeveridadFalta" AS ENUM (
    'LEVE',
    'GRAVE',
    'CRITICA'
);


ALTER TYPE public."SeveridadFalta" OWNER TO "Ramosa";

--
-- Name: TipoDocumentoEquipo; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."TipoDocumentoEquipo" AS ENUM (
    'MANUAL_FABRICANTE',
    'NORMA_APLICABLE',
    'CERTIFICADO_FABRICACION',
    'CERTIFICADO_PRUEBA_CARGA',
    'FICHA_TECNICA',
    'PROCEDIMIENTO_LOTO',
    'LISTA_REPUESTOS',
    'OTRO'
);


ALTER TYPE public."TipoDocumentoEquipo" OWNER TO "Ramosa";

--
-- Name: TipoEquipo; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."TipoEquipo" AS ENUM (
    'MAQUINARIA_PESADA',
    'HERRAMIENTA_PODER',
    'EQUIPO_MEDICION',
    'VEHICULO',
    'EQUIPO_PRESION',
    'HERRAMIENTA_MENOR'
);


ALTER TYPE public."TipoEquipo" OWNER TO "Ramosa";

--
-- Name: TipoExamenMedico; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."TipoExamenMedico" AS ENUM (
    'INGRESO',
    'PERIODICO',
    'RETIRO',
    'REINTEGRO'
);


ALTER TYPE public."TipoExamenMedico" OWNER TO "Ramosa";

--
-- Name: TipoInspeccion; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."TipoInspeccion" AS ENUM (
    'GENERAL',
    'PRE_USO',
    'PERIODICA',
    'POST_INCIDENTE'
);


ALTER TYPE public."TipoInspeccion" OWNER TO "Ramosa";

--
-- Name: TipoInstalacion; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."TipoInstalacion" AS ENUM (
    'OFICINA',
    'PLANTA_INDUSTRIAL',
    'ALMACEN',
    'LABORATORIO',
    'OBRA'
);


ALTER TYPE public."TipoInstalacion" OWNER TO "Ramosa";

--
-- Name: TipoMantenimiento; Type: TYPE; Schema: public; Owner: Ramosa
--

CREATE TYPE public."TipoMantenimiento" AS ENUM (
    'PREVENTIVO',
    'CORRECTIVO',
    'PREDICTIVO',
    'OVERHAUL'
);


ALTER TYPE public."TipoMantenimiento" OWNER TO "Ramosa";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO "Ramosa";

--
-- Name: amonestaciones; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.amonestaciones (
    id text NOT NULL,
    "trabajadorId" text NOT NULL,
    "supervisorId" text NOT NULL,
    "sucursalId" text NOT NULL,
    motivo text NOT NULL,
    severidad public."SeveridadFalta" NOT NULL,
    descripcion text NOT NULL,
    testimonios text,
    "fechaEvento" timestamp(3) without time zone NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.amonestaciones OWNER TO "Ramosa";

--
-- Name: autorizaciones_operador; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.autorizaciones_operador (
    id text NOT NULL,
    "trabajadorId" text NOT NULL,
    "equipoId" text NOT NULL,
    "capacitacionRequerida" text NOT NULL,
    "capacitacionVerificada" boolean DEFAULT false NOT NULL,
    "emoVigenteVerificado" boolean DEFAULT false NOT NULL,
    "eppVerificado" boolean DEFAULT false NOT NULL,
    estado public."EstadoAutorizacion" DEFAULT 'PENDIENTE'::public."EstadoAutorizacion" NOT NULL,
    "fechaVencimiento" timestamp(3) without time zone,
    "autorizadoPorId" text,
    observaciones text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.autorizaciones_operador OWNER TO "Ramosa";

--
-- Name: calibraciones; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.calibraciones (
    id text NOT NULL,
    "equipoId" text NOT NULL,
    "fechaCalibracion" timestamp(3) without time zone NOT NULL,
    "proximaCalibracion" timestamp(3) without time zone NOT NULL,
    "certificadoUrl" text,
    observaciones text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "entidadCertificadora" text,
    "numeroCertificado" text,
    "estadoResultado" public."EstadoCalibracion" DEFAULT 'CONFORME'::public."EstadoCalibracion" NOT NULL,
    "numeroAcreditacionInacal" text
);


ALTER TABLE public.calibraciones OWNER TO "Ramosa";

--
-- Name: capacitaciones; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.capacitaciones (
    id text NOT NULL,
    "trabajadorId" text NOT NULL,
    "nombreCurso" text NOT NULL,
    institucion text,
    "fechaRealizacion" timestamp(3) without time zone NOT NULL,
    "fechaVencimiento" timestamp(3) without time zone,
    "certificadoUrl" text,
    vigente boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.capacitaciones OWNER TO "Ramosa";

--
-- Name: documentos_equipo; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.documentos_equipo (
    id text NOT NULL,
    "equipoId" text NOT NULL,
    nombre text NOT NULL,
    tipo public."TipoDocumentoEquipo" NOT NULL,
    "archivoUrl" text NOT NULL,
    version text,
    "emitidoPor" text,
    "fechaEmision" timestamp(3) without time zone,
    "fechaVencimiento" timestamp(3) without time zone,
    observaciones text,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "subidoPorId" text
);


ALTER TABLE public.documentos_equipo OWNER TO "Ramosa";

--
-- Name: dossier_export_logs; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.dossier_export_logs (
    id text NOT NULL,
    "equipoId" text NOT NULL,
    "usuarioId" text NOT NULL,
    "fechaExportacion" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "estadoEquipoAlExportar" text NOT NULL,
    "calibracionVigente" boolean NOT NULL,
    "fueNoConforme" boolean DEFAULT false NOT NULL,
    "ipCliente" text,
    "userAgent" text,
    "jwtSnapshot" text
);


ALTER TABLE public.dossier_export_logs OWNER TO "Ramosa";

--
-- Name: ejecuciones_loto; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.ejecuciones_loto (
    id text NOT NULL,
    "equipoId" text NOT NULL,
    "trabajadorId" text NOT NULL,
    "motivoBloqueo" text NOT NULL,
    "autorizadoPorId" text,
    "fechaBloqueo" timestamp(3) without time zone NOT NULL,
    "fechaDesbloqueo" timestamp(3) without time zone,
    "listaVerificacion" jsonb NOT NULL,
    "estadoEjecucion" public."EstadoLoto" DEFAULT 'BLOQUEADO'::public."EstadoLoto" NOT NULL,
    observaciones text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.ejecuciones_loto OWNER TO "Ramosa";

--
-- Name: entregas_epp; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.entregas_epp (
    id text NOT NULL,
    "trabajadorId" text NOT NULL,
    "tipoEpp" text NOT NULL,
    marca text,
    talla text,
    "fechaEntrega" timestamp(3) without time zone NOT NULL,
    "fechaVencimiento" timestamp(3) without time zone,
    observaciones text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.entregas_epp OWNER TO "Ramosa";

--
-- Name: equipos; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.equipos (
    id text NOT NULL,
    nombre text NOT NULL,
    marca text,
    modelo text,
    "numeroSerie" text NOT NULL,
    "nfcTagId" text,
    estado public."EstadoEquipo" DEFAULT 'OPERATIVO'::public."EstadoEquipo" NOT NULL,
    descripcion text,
    "manualUrl" text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "sucursalId" text,
    "ubicacionFisica" text,
    "tipoEquipo" public."TipoEquipo" DEFAULT 'HERRAMIENTA_MENOR'::public."TipoEquipo" NOT NULL,
    "fechaFabricacion" timestamp(3) without time zone,
    "fechaAdquisicion" timestamp(3) without time zone,
    "vidaUtilMeses" integer,
    "proximoMantenimiento" timestamp(3) without time zone,
    "horasOperadasActuales" double precision,
    "horasLimiteMantenimiento" double precision,
    "requiereLoto" boolean DEFAULT false NOT NULL,
    "puntosBloqueo" text,
    "energiasPeligrosas" text[],
    "eppObligatorio" jsonb,
    "coordinadorResponsable" text,
    "telefonoEmergenciaCoordinador" text,
    "capacidadNominalPresion" text,
    "esBloqueoAutomatico" boolean DEFAULT false NOT NULL,
    "motivoBloqueoAuto" text,
    "fechaBloqueoAuto" timestamp(3) without time zone,
    "matrizIpcId" text
);


ALTER TABLE public.equipos OWNER TO "Ramosa";

--
-- Name: examenes_medicos; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.examenes_medicos (
    id text NOT NULL,
    "trabajadorId" text NOT NULL,
    "tipoExamen" public."TipoExamenMedico" NOT NULL,
    "fechaExamen" timestamp(3) without time zone NOT NULL,
    estado public."EstadoEMO" NOT NULL,
    restricciones text,
    observaciones text,
    "medicoEvaluador" text,
    institucion text,
    "documentoUrl" text,
    "proximoVencimiento" timestamp(3) without time zone,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.examenes_medicos OWNER TO "Ramosa";

--
-- Name: fotos_amonestacion; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.fotos_amonestacion (
    id text NOT NULL,
    "amonestacionId" text NOT NULL,
    "rutaArchivo" text NOT NULL,
    descripcion text,
    "fechaCaptura" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.fotos_amonestacion OWNER TO "Ramosa";

--
-- Name: fotos_inspeccion; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.fotos_inspeccion (
    id text NOT NULL,
    "inspeccionId" text NOT NULL,
    "rutaArchivo" text NOT NULL,
    descripcion text,
    "fechaCaptura" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    metadatos jsonb
);


ALTER TABLE public.fotos_inspeccion OWNER TO "Ramosa";

--
-- Name: incidentes; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.incidentes (
    id text NOT NULL,
    "trabajadorId" text NOT NULL,
    "amonestacionId" text,
    descripcion text NOT NULL,
    ubicacion text,
    "fechaEvento" timestamp(3) without time zone NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.incidentes OWNER TO "Ramosa";

--
-- Name: inspeccion_trabajador; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.inspeccion_trabajador (
    id text NOT NULL,
    "inspeccionId" text NOT NULL,
    "trabajadorId" text NOT NULL
);


ALTER TABLE public.inspeccion_trabajador OWNER TO "Ramosa";

--
-- Name: inspecciones; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.inspecciones (
    id text NOT NULL,
    "supervisorId" text NOT NULL,
    "sucursalId" text NOT NULL,
    ubicacion text NOT NULL,
    "tipoTrabajo" text NOT NULL,
    estado public."EstadoInspeccion" DEFAULT 'EN_PROGRESO'::public."EstadoInspeccion" NOT NULL,
    "equipoId" text,
    "tipoInspeccion" public."TipoInspeccion" DEFAULT 'GENERAL'::public."TipoInspeccion" NOT NULL,
    checklist jsonb NOT NULL,
    observaciones text,
    "firmaSupervisor" boolean DEFAULT false NOT NULL,
    "firmaBase64" text,
    "latitudCierre" double precision,
    "longitudCierre" double precision,
    "fechaCierre" timestamp(3) without time zone,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.inspecciones OWNER TO "Ramosa";

--
-- Name: mantenimientos; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.mantenimientos (
    id text NOT NULL,
    "equipoId" text NOT NULL,
    "tipoMantenimiento" public."TipoMantenimiento" NOT NULL,
    "fechaMantenimiento" timestamp(3) without time zone NOT NULL,
    "proximoMantenimiento" timestamp(3) without time zone,
    "tecnicoResponsable" text NOT NULL,
    "proveedorServicio" text,
    "trabajoRealizado" text NOT NULL,
    "repuestosUsados" text,
    "horasEquipoAlMomento" double precision,
    "costoSoles" double precision,
    "equipoFueraServicio" boolean DEFAULT false NOT NULL,
    "equipoQuedoOperativo" boolean DEFAULT true NOT NULL,
    "certificadoUrl" text,
    observaciones text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "aplicoLoto" boolean DEFAULT false NOT NULL,
    "generoIncidente" boolean DEFAULT false NOT NULL,
    "incidenteId" text,
    "certificacionTecnico" text,
    "disposicionResiduos" text
);


ALTER TABLE public.mantenimientos OWNER TO "Ramosa";

--
-- Name: matriz_ipc; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.matriz_ipc (
    id text NOT NULL,
    cargo text NOT NULL,
    ubicacion text NOT NULL,
    "eppsObligatorios" jsonb NOT NULL,
    "herramientasRequeridas" jsonb NOT NULL,
    "capacitacionesRequeridas" jsonb NOT NULL,
    descripcion text,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.matriz_ipc OWNER TO "Ramosa";

--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.notificaciones (
    id text NOT NULL,
    "destinatarioId" text NOT NULL,
    tipo text NOT NULL,
    titulo text NOT NULL,
    mensaje text NOT NULL,
    leida boolean DEFAULT false NOT NULL,
    "enviadaPorEmail" boolean DEFAULT false NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO "Ramosa";

--
-- Name: registros_auditoria; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.registros_auditoria (
    id text NOT NULL,
    "usuarioId" text NOT NULL,
    accion text NOT NULL,
    entidad text NOT NULL,
    "entidadId" text,
    detalles jsonb,
    ip text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.registros_auditoria OWNER TO "Ramosa";

--
-- Name: sucursales; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.sucursales (
    id text NOT NULL,
    nombre text NOT NULL,
    direccion text,
    latitud double precision,
    longitud double precision,
    activa boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "tipoInstalacion" public."TipoInstalacion",
    "nivelRiesgo" public."NivelRiesgo",
    "categoriaIncendio" public."CategoriaIncendio",
    "codigoCIIU" text,
    "codigoEstablecimientoINDECI" text,
    "numeroCertificadoDC" text,
    "vencimientoCertificadoDC" timestamp(3) without time zone,
    "fechaProximaRevisionDC" timestamp(3) without time zone,
    "aforoMaximo" integer,
    "areaM2" double precision,
    "numeroPisos" integer,
    "anioConstruccion" integer,
    "zonaRiesgoSismico" integer,
    "responsableSSTNombre" text,
    "responsableSSTTelefono" text,
    "medicoOcupacionalNombre" text,
    "centroMedicoMasCercano" text,
    "telefonoCentroMedico" text,
    "cantidadExtintores" integer DEFAULT 0,
    "tieneDesfibriladorDEA" boolean DEFAULT false NOT NULL,
    "ubicacionDEA" text,
    "cantidadBotiquines" integer DEFAULT 0,
    "tieneEnfermeria" boolean DEFAULT false NOT NULL,
    "telefonoEmergenciasSede" text,
    "planEmergenciaVigente" boolean DEFAULT false NOT NULL,
    "fechaVencimientoPlanEmergencia" timestamp(3) without time zone,
    "fechaUltimoSimulacro" timestamp(3) without time zone,
    "cantidadSimulacrosAnio" integer DEFAULT 0,
    "brigadasEmergencia" jsonb,
    "peligrosIdentificados" jsonb,
    "fechaUltimaInspeccionSUNAFIL" timestamp(3) without time zone,
    "resultadoUltimaInspeccion" public."ResultadoInspeccionSUNAFIL",
    "observacionesLegalesActivas" text
);


ALTER TABLE public.sucursales OWNER TO "Ramosa";

--
-- Name: supervisor_sucursal; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.supervisor_sucursal (
    id text NOT NULL,
    "supervisorId" text NOT NULL,
    "sucursalId" text NOT NULL
);


ALTER TABLE public.supervisor_sucursal OWNER TO "Ramosa";

--
-- Name: supervisores; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.supervisores (
    id text NOT NULL,
    "usuarioId" text NOT NULL,
    telefono text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.supervisores OWNER TO "Ramosa";

--
-- Name: trabajadores; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.trabajadores (
    id text NOT NULL,
    dni text NOT NULL,
    "nombreCompleto" text NOT NULL,
    cargo text NOT NULL,
    "tipoSangre" text,
    "telefonoEmergencia" text,
    "contactoEmergencia" text,
    "estadoEMO" public."EstadoEMO" DEFAULT 'APTO'::public."EstadoEMO" NOT NULL,
    "fechaVencimientoEMO" timestamp(3) without time zone,
    "estadoLaboral" public."EstadoLaboral" DEFAULT 'ACTIVO'::public."EstadoLaboral" NOT NULL,
    "tallaCasco" text,
    "tallaCamisa" text,
    "tallaPantalon" text,
    "tallaCalzado" text,
    "tallaGuantes" text,
    "codigoQr" text,
    "fotoUrl" text,
    "alergiasCriticas" text,
    "condicionesPreexistentes" text,
    eps text,
    arl text,
    "fechaUltimoExamen" timestamp(3) without time zone,
    "fechaIngreso" timestamp(3) without time zone,
    "fechaNacimiento" timestamp(3) without time zone,
    curp text,
    nss text,
    telefono text,
    correo text,
    turno text,
    "nivelEducativo" text,
    "sucursalId" text NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.trabajadores OWNER TO "Ramosa";

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: Ramosa
--

CREATE TABLE public.usuarios (
    id text NOT NULL,
    correo text NOT NULL,
    contrasena text NOT NULL,
    "nombreCompleto" text NOT NULL,
    rol public."Rol" NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public.usuarios OWNER TO "Ramosa";

--
-- Name: vista_conformidad_equipos; Type: VIEW; Schema: public; Owner: Ramosa
--

CREATE VIEW public.vista_conformidad_equipos AS
 SELECT e.id AS equipo_id,
    e.nombre,
    e.estado,
    c.proxima_calibracion AS vencimiento_calibracion,
        CASE
            WHEN (c.proxima_calibracion IS NULL) THEN 'SIN_CALIBRACION'::text
            WHEN (c.proxima_calibracion < now()) THEN 'NO_CONFORME'::text
            WHEN (c.proxima_calibracion < (now() + '15 days'::interval)) THEN 'POR_VENCER'::text
            ELSE 'CONFORME'::text
        END AS estado_conformidad,
    COALESCE(mant_count.total, 0) AS total_mantenimientos,
    mant_count.ultimo_correctivo AS fecha_ultimo_correctivo
   FROM ((public.equipos e
     LEFT JOIN LATERAL ( SELECT calibraciones."proximaCalibracion" AS proxima_calibracion
           FROM public.calibraciones
          WHERE (calibraciones."equipoId" = e.id)
          ORDER BY calibraciones."fechaCalibracion" DESC
         LIMIT 1) c ON (true))
     LEFT JOIN LATERAL ( SELECT (count(*))::integer AS total,
            max(
                CASE
                    WHEN (mantenimientos."tipoMantenimiento" = 'CORRECTIVO'::public."TipoMantenimiento") THEN mantenimientos."fechaMantenimiento"
                    ELSE NULL::timestamp without time zone
                END) AS ultimo_correctivo
           FROM public.mantenimientos
          WHERE (mantenimientos."equipoId" = e.id)) mant_count ON (true))
  WHERE (e."deletedAt" IS NULL);


ALTER TABLE public.vista_conformidad_equipos OWNER TO "Ramosa";

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
8b2ee1ca-e452-44b9-9125-0ab19c0b1872	9221ded40cef70a493089c7b348baeb0c02b1fcdd8110b961de37b393ed9cd07	2026-03-08 04:14:14.505291+00	20260307000000_baseline_schema_v4		\N	2026-03-08 04:14:14.505291+00	0
\.


--
-- Data for Name: amonestaciones; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: autorizaciones_operador; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.autorizaciones_operador (id, "trabajadorId", "equipoId", "capacitacionRequerida", "capacitacionVerificada", "emoVigenteVerificado", "eppVerificado", estado, "fechaVencimiento", "autorizadoPorId", observaciones, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: calibraciones; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: capacitaciones; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: documentos_equipo; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.documentos_equipo (id, "equipoId", nombre, tipo, "archivoUrl", version, "emitidoPor", "fechaEmision", "fechaVencimiento", observaciones, activo, "creadoEn", "subidoPorId") FROM stdin;
\.


--
-- Data for Name: dossier_export_logs; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.dossier_export_logs (id, "equipoId", "usuarioId", "fechaExportacion", "estadoEquipoAlExportar", "calibracionVigente", "fueNoConforme", "ipCliente", "userAgent", "jwtSnapshot") FROM stdin;
\.


--
-- Data for Name: ejecuciones_loto; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.ejecuciones_loto (id, "equipoId", "trabajadorId", "motivoBloqueo", "autorizadoPorId", "fechaBloqueo", "fechaDesbloqueo", "listaVerificacion", "estadoEjecucion", observaciones, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: entregas_epp; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: equipos; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: examenes_medicos; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: fotos_amonestacion; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.fotos_amonestacion (id, "amonestacionId", "rutaArchivo", descripcion, "fechaCaptura") FROM stdin;
\.


--
-- Data for Name: fotos_inspeccion; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.fotos_inspeccion (id, "inspeccionId", "rutaArchivo", descripcion, "fechaCaptura", metadatos) FROM stdin;
\.


--
-- Data for Name: incidentes; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.incidentes (id, "trabajadorId", "amonestacionId", descripcion, ubicacion, "fechaEvento", "creadoEn", "deletedAt") FROM stdin;
\.


--
-- Data for Name: inspeccion_trabajador; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: inspecciones; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: mantenimientos; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.mantenimientos (id, "equipoId", "tipoMantenimiento", "fechaMantenimiento", "proximoMantenimiento", "tecnicoResponsable", "proveedorServicio", "trabajoRealizado", "repuestosUsados", "horasEquipoAlMomento", "costoSoles", "equipoFueraServicio", "equipoQuedoOperativo", "certificadoUrl", observaciones, "creadoEn", "aplicoLoto", "generoIncidente", "incidenteId", "certificacionTecnico", "disposicionResiduos") FROM stdin;
\.


--
-- Data for Name: matriz_ipc; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.notificaciones (id, "destinatarioId", tipo, titulo, mensaje, leida, "enviadaPorEmail", "creadoEn") FROM stdin;
\.


--
-- Data for Name: registros_auditoria; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: sucursales; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: supervisor_sucursal; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.supervisor_sucursal (id, "supervisorId", "sucursalId") FROM stdin;
c1b24a54-4f55-487a-b8a4-05bb4b4cef15	72611b82-8387-48fc-9247-5fb72da492a5	02785a73-df25-43c0-8b2c-a2f14d70c19a
0bc30106-5c55-4b97-addf-9f45393ef6eb	72611b82-8387-48fc-9247-5fb72da492a5	4c3819e0-096d-41c7-bf6e-7ae311bb8331
ba9648f7-5316-4cdd-9cff-4b1fef161793	b85d881a-8768-4f3f-92ec-f83a633c2a2f	d25df32a-ecf9-4ca9-af3a-f77c64c23f65
\.


--
-- Data for Name: supervisores; Type: TABLE DATA; Schema: public; Owner: Ramosa
--

COPY public.supervisores (id, "usuarioId", telefono, "creadoEn", "actualizadoEn") FROM stdin;
72611b82-8387-48fc-9247-5fb72da492a5	88973c95-474b-4003-985b-6b0ddce8caae	+52 81 1234 5678	2026-03-08 04:20:18.747	2026-03-08 04:20:18.747
b85d881a-8768-4f3f-92ec-f83a633c2a2f	54c194bd-bee2-492c-8dba-a212e058a1fa	+52 33 9876 5432	2026-03-08 04:20:18.771	2026-03-08 04:20:18.771
\.


--
-- Data for Name: trabajadores; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: Ramosa
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: amonestaciones amonestaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.amonestaciones
    ADD CONSTRAINT amonestaciones_pkey PRIMARY KEY (id);


--
-- Name: autorizaciones_operador autorizaciones_operador_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.autorizaciones_operador
    ADD CONSTRAINT autorizaciones_operador_pkey PRIMARY KEY (id);


--
-- Name: calibraciones calibraciones_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.calibraciones
    ADD CONSTRAINT calibraciones_pkey PRIMARY KEY (id);


--
-- Name: capacitaciones capacitaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.capacitaciones
    ADD CONSTRAINT capacitaciones_pkey PRIMARY KEY (id);


--
-- Name: documentos_equipo documentos_equipo_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.documentos_equipo
    ADD CONSTRAINT documentos_equipo_pkey PRIMARY KEY (id);


--
-- Name: dossier_export_logs dossier_export_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.dossier_export_logs
    ADD CONSTRAINT dossier_export_logs_pkey PRIMARY KEY (id);


--
-- Name: ejecuciones_loto ejecuciones_loto_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.ejecuciones_loto
    ADD CONSTRAINT ejecuciones_loto_pkey PRIMARY KEY (id);


--
-- Name: entregas_epp entregas_epp_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.entregas_epp
    ADD CONSTRAINT entregas_epp_pkey PRIMARY KEY (id);


--
-- Name: equipos equipos_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.equipos
    ADD CONSTRAINT equipos_pkey PRIMARY KEY (id);


--
-- Name: examenes_medicos examenes_medicos_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.examenes_medicos
    ADD CONSTRAINT examenes_medicos_pkey PRIMARY KEY (id);


--
-- Name: fotos_amonestacion fotos_amonestacion_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.fotos_amonestacion
    ADD CONSTRAINT fotos_amonestacion_pkey PRIMARY KEY (id);


--
-- Name: fotos_inspeccion fotos_inspeccion_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.fotos_inspeccion
    ADD CONSTRAINT fotos_inspeccion_pkey PRIMARY KEY (id);


--
-- Name: incidentes incidentes_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.incidentes
    ADD CONSTRAINT incidentes_pkey PRIMARY KEY (id);


--
-- Name: inspeccion_trabajador inspeccion_trabajador_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspeccion_trabajador
    ADD CONSTRAINT inspeccion_trabajador_pkey PRIMARY KEY (id);


--
-- Name: inspecciones inspecciones_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT inspecciones_pkey PRIMARY KEY (id);


--
-- Name: mantenimientos mantenimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.mantenimientos
    ADD CONSTRAINT mantenimientos_pkey PRIMARY KEY (id);


--
-- Name: matriz_ipc matriz_ipc_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.matriz_ipc
    ADD CONSTRAINT matriz_ipc_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: registros_auditoria registros_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.registros_auditoria
    ADD CONSTRAINT registros_auditoria_pkey PRIMARY KEY (id);


--
-- Name: sucursales sucursales_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.sucursales
    ADD CONSTRAINT sucursales_pkey PRIMARY KEY (id);


--
-- Name: supervisor_sucursal supervisor_sucursal_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.supervisor_sucursal
    ADD CONSTRAINT supervisor_sucursal_pkey PRIMARY KEY (id);


--
-- Name: supervisores supervisores_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.supervisores
    ADD CONSTRAINT supervisores_pkey PRIMARY KEY (id);


--
-- Name: trabajadores trabajadores_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT trabajadores_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: amonestaciones_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "amonestaciones_deletedAt_idx" ON public.amonestaciones USING btree ("deletedAt");


--
-- Name: amonestaciones_severidad_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX amonestaciones_severidad_idx ON public.amonestaciones USING btree (severidad);


--
-- Name: amonestaciones_trabajadorId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "amonestaciones_trabajadorId_idx" ON public.amonestaciones USING btree ("trabajadorId");


--
-- Name: autorizaciones_operador_estado_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX autorizaciones_operador_estado_idx ON public.autorizaciones_operador USING btree (estado);


--
-- Name: autorizaciones_operador_fechaVencimiento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "autorizaciones_operador_fechaVencimiento_idx" ON public.autorizaciones_operador USING btree ("fechaVencimiento");


--
-- Name: autorizaciones_operador_trabajadorId_equipoId_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "autorizaciones_operador_trabajadorId_equipoId_key" ON public.autorizaciones_operador USING btree ("trabajadorId", "equipoId");


--
-- Name: calibraciones_equipoId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "calibraciones_equipoId_idx" ON public.calibraciones USING btree ("equipoId");


--
-- Name: calibraciones_estadoResultado_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "calibraciones_estadoResultado_idx" ON public.calibraciones USING btree ("estadoResultado");


--
-- Name: calibraciones_proximaCalibracion_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "calibraciones_proximaCalibracion_idx" ON public.calibraciones USING btree ("proximaCalibracion");


--
-- Name: documentos_equipo_equipoId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "documentos_equipo_equipoId_idx" ON public.documentos_equipo USING btree ("equipoId");


--
-- Name: documentos_equipo_fechaVencimiento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "documentos_equipo_fechaVencimiento_idx" ON public.documentos_equipo USING btree ("fechaVencimiento");


--
-- Name: documentos_equipo_tipo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX documentos_equipo_tipo_idx ON public.documentos_equipo USING btree (tipo);


--
-- Name: dossier_export_logs_equipoId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "dossier_export_logs_equipoId_idx" ON public.dossier_export_logs USING btree ("equipoId");


--
-- Name: dossier_export_logs_fechaExportacion_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "dossier_export_logs_fechaExportacion_idx" ON public.dossier_export_logs USING btree ("fechaExportacion");


--
-- Name: dossier_export_logs_usuarioId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "dossier_export_logs_usuarioId_idx" ON public.dossier_export_logs USING btree ("usuarioId");


--
-- Name: ejecuciones_loto_equipoId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "ejecuciones_loto_equipoId_idx" ON public.ejecuciones_loto USING btree ("equipoId");


--
-- Name: ejecuciones_loto_estadoEjecucion_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "ejecuciones_loto_estadoEjecucion_idx" ON public.ejecuciones_loto USING btree ("estadoEjecucion");


--
-- Name: equipos_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "equipos_deletedAt_idx" ON public.equipos USING btree ("deletedAt");


--
-- Name: equipos_estado_esBloqueoAutomatico_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "equipos_estado_esBloqueoAutomatico_idx" ON public.equipos USING btree (estado, "esBloqueoAutomatico");


--
-- Name: equipos_estado_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX equipos_estado_idx ON public.equipos USING btree (estado);


--
-- Name: equipos_matrizIpcId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "equipos_matrizIpcId_idx" ON public.equipos USING btree ("matrizIpcId");


--
-- Name: equipos_nfcTagId_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "equipos_nfcTagId_key" ON public.equipos USING btree ("nfcTagId");


--
-- Name: equipos_numeroSerie_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "equipos_numeroSerie_key" ON public.equipos USING btree ("numeroSerie");


--
-- Name: equipos_proximoMantenimiento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "equipos_proximoMantenimiento_idx" ON public.equipos USING btree ("proximoMantenimiento");


--
-- Name: equipos_sucursalId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "equipos_sucursalId_idx" ON public.equipos USING btree ("sucursalId");


--
-- Name: equipos_tipoEquipo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "equipos_tipoEquipo_idx" ON public.equipos USING btree ("tipoEquipo");


--
-- Name: examenes_medicos_estado_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX examenes_medicos_estado_idx ON public.examenes_medicos USING btree (estado);


--
-- Name: examenes_medicos_fechaExamen_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "examenes_medicos_fechaExamen_idx" ON public.examenes_medicos USING btree ("fechaExamen");


--
-- Name: examenes_medicos_proximoVencimiento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "examenes_medicos_proximoVencimiento_idx" ON public.examenes_medicos USING btree ("proximoVencimiento");


--
-- Name: examenes_medicos_trabajadorId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "examenes_medicos_trabajadorId_idx" ON public.examenes_medicos USING btree ("trabajadorId");


--
-- Name: idx_auditoria_entidad; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX idx_auditoria_entidad ON public.registros_auditoria USING btree (entidad, "entidadId");


--
-- Name: idx_equipos_bloqueados_auto; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX idx_equipos_bloqueados_auto ON public.equipos USING btree (estado, "esBloqueoAutomatico") WHERE ("esBloqueoAutomatico" = true);


--
-- Name: incidentes_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "incidentes_deletedAt_idx" ON public.incidentes USING btree ("deletedAt");


--
-- Name: incidentes_fechaEvento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "incidentes_fechaEvento_idx" ON public.incidentes USING btree ("fechaEvento");


--
-- Name: incidentes_trabajadorId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "incidentes_trabajadorId_idx" ON public.incidentes USING btree ("trabajadorId");


--
-- Name: inspeccion_trabajador_inspeccionId_trabajadorId_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "inspeccion_trabajador_inspeccionId_trabajadorId_key" ON public.inspeccion_trabajador USING btree ("inspeccionId", "trabajadorId");


--
-- Name: inspecciones_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "inspecciones_deletedAt_idx" ON public.inspecciones USING btree ("deletedAt");


--
-- Name: inspecciones_equipoId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "inspecciones_equipoId_idx" ON public.inspecciones USING btree ("equipoId");


--
-- Name: inspecciones_estado_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX inspecciones_estado_idx ON public.inspecciones USING btree (estado);


--
-- Name: inspecciones_tipoInspeccion_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "inspecciones_tipoInspeccion_idx" ON public.inspecciones USING btree ("tipoInspeccion");


--
-- Name: mantenimientos_aplicoLoto_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "mantenimientos_aplicoLoto_idx" ON public.mantenimientos USING btree ("aplicoLoto");


--
-- Name: mantenimientos_equipoId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "mantenimientos_equipoId_idx" ON public.mantenimientos USING btree ("equipoId");


--
-- Name: mantenimientos_fechaMantenimiento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "mantenimientos_fechaMantenimiento_idx" ON public.mantenimientos USING btree ("fechaMantenimiento");


--
-- Name: mantenimientos_generoIncidente_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "mantenimientos_generoIncidente_idx" ON public.mantenimientos USING btree ("generoIncidente");


--
-- Name: mantenimientos_tipoMantenimiento_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "mantenimientos_tipoMantenimiento_idx" ON public.mantenimientos USING btree ("tipoMantenimiento");


--
-- Name: matriz_ipc_activo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX matriz_ipc_activo_idx ON public.matriz_ipc USING btree (activo);


--
-- Name: matriz_ipc_cargo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX matriz_ipc_cargo_idx ON public.matriz_ipc USING btree (cargo);


--
-- Name: matriz_ipc_cargo_ubicacion_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX matriz_ipc_cargo_ubicacion_key ON public.matriz_ipc USING btree (cargo, ubicacion);


--
-- Name: registros_auditoria_creadoEn_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "registros_auditoria_creadoEn_idx" ON public.registros_auditoria USING btree ("creadoEn");


--
-- Name: registros_auditoria_entidad_entidadId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "registros_auditoria_entidad_entidadId_idx" ON public.registros_auditoria USING btree (entidad, "entidadId");


--
-- Name: registros_auditoria_usuarioId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "registros_auditoria_usuarioId_idx" ON public.registros_auditoria USING btree ("usuarioId");


--
-- Name: sucursales_activa_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX sucursales_activa_idx ON public.sucursales USING btree (activa);


--
-- Name: sucursales_codigoEstablecimientoINDECI_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "sucursales_codigoEstablecimientoINDECI_key" ON public.sucursales USING btree ("codigoEstablecimientoINDECI");


--
-- Name: sucursales_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_deletedAt_idx" ON public.sucursales USING btree ("deletedAt");


--
-- Name: sucursales_fechaProximaRevisionDC_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_fechaProximaRevisionDC_idx" ON public.sucursales USING btree ("fechaProximaRevisionDC");


--
-- Name: sucursales_nivelRiesgo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_nivelRiesgo_idx" ON public.sucursales USING btree ("nivelRiesgo");


--
-- Name: sucursales_nombre_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX sucursales_nombre_key ON public.sucursales USING btree (nombre);


--
-- Name: sucursales_planEmergenciaVigente_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_planEmergenciaVigente_idx" ON public.sucursales USING btree ("planEmergenciaVigente");


--
-- Name: sucursales_resultadoUltimaInspeccion_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_resultadoUltimaInspeccion_idx" ON public.sucursales USING btree ("resultadoUltimaInspeccion");


--
-- Name: sucursales_tipoInstalacion_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_tipoInstalacion_idx" ON public.sucursales USING btree ("tipoInstalacion");


--
-- Name: sucursales_vencimientoCertificadoDC_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "sucursales_vencimientoCertificadoDC_idx" ON public.sucursales USING btree ("vencimientoCertificadoDC");


--
-- Name: supervisor_sucursal_supervisorId_sucursalId_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "supervisor_sucursal_supervisorId_sucursalId_key" ON public.supervisor_sucursal USING btree ("supervisorId", "sucursalId");


--
-- Name: supervisores_usuarioId_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "supervisores_usuarioId_key" ON public.supervisores USING btree ("usuarioId");


--
-- Name: trabajadores_activo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX trabajadores_activo_idx ON public.trabajadores USING btree (activo);


--
-- Name: trabajadores_codigoQr_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX "trabajadores_codigoQr_key" ON public.trabajadores USING btree ("codigoQr");


--
-- Name: trabajadores_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "trabajadores_deletedAt_idx" ON public.trabajadores USING btree ("deletedAt");


--
-- Name: trabajadores_dni_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX trabajadores_dni_key ON public.trabajadores USING btree (dni);


--
-- Name: trabajadores_estadoLaboral_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "trabajadores_estadoLaboral_idx" ON public.trabajadores USING btree ("estadoLaboral");


--
-- Name: trabajadores_sucursalId_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "trabajadores_sucursalId_idx" ON public.trabajadores USING btree ("sucursalId");


--
-- Name: trabajadores_tipoSangre_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "trabajadores_tipoSangre_idx" ON public.trabajadores USING btree ("tipoSangre");


--
-- Name: usuarios_activo_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX usuarios_activo_idx ON public.usuarios USING btree (activo);


--
-- Name: usuarios_correo_key; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE UNIQUE INDEX usuarios_correo_key ON public.usuarios USING btree (correo);


--
-- Name: usuarios_deletedAt_idx; Type: INDEX; Schema: public; Owner: Ramosa
--

CREATE INDEX "usuarios_deletedAt_idx" ON public.usuarios USING btree ("deletedAt");


--
-- Name: amonestaciones amonestaciones_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.amonestaciones
    ADD CONSTRAINT "amonestaciones_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: amonestaciones amonestaciones_supervisorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.amonestaciones
    ADD CONSTRAINT "amonestaciones_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES public.supervisores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: amonestaciones amonestaciones_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.amonestaciones
    ADD CONSTRAINT "amonestaciones_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: autorizaciones_operador autorizaciones_operador_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.autorizaciones_operador
    ADD CONSTRAINT "autorizaciones_operador_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: autorizaciones_operador autorizaciones_operador_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.autorizaciones_operador
    ADD CONSTRAINT "autorizaciones_operador_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: calibraciones calibraciones_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.calibraciones
    ADD CONSTRAINT "calibraciones_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: capacitaciones capacitaciones_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.capacitaciones
    ADD CONSTRAINT "capacitaciones_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documentos_equipo documentos_equipo_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.documentos_equipo
    ADD CONSTRAINT "documentos_equipo_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documentos_equipo documentos_equipo_subidoPorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.documentos_equipo
    ADD CONSTRAINT "documentos_equipo_subidoPorId_fkey" FOREIGN KEY ("subidoPorId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: dossier_export_logs dossier_export_logs_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.dossier_export_logs
    ADD CONSTRAINT "dossier_export_logs_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: dossier_export_logs dossier_export_logs_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.dossier_export_logs
    ADD CONSTRAINT "dossier_export_logs_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ejecuciones_loto ejecuciones_loto_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.ejecuciones_loto
    ADD CONSTRAINT "ejecuciones_loto_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ejecuciones_loto ejecuciones_loto_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.ejecuciones_loto
    ADD CONSTRAINT "ejecuciones_loto_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: entregas_epp entregas_epp_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.entregas_epp
    ADD CONSTRAINT "entregas_epp_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: equipos equipos_matrizIpcId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.equipos
    ADD CONSTRAINT "equipos_matrizIpcId_fkey" FOREIGN KEY ("matrizIpcId") REFERENCES public.matriz_ipc(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: equipos equipos_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.equipos
    ADD CONSTRAINT "equipos_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: examenes_medicos examenes_medicos_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.examenes_medicos
    ADD CONSTRAINT "examenes_medicos_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: fotos_amonestacion fotos_amonestacion_amonestacionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.fotos_amonestacion
    ADD CONSTRAINT "fotos_amonestacion_amonestacionId_fkey" FOREIGN KEY ("amonestacionId") REFERENCES public.amonestaciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: fotos_inspeccion fotos_inspeccion_inspeccionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.fotos_inspeccion
    ADD CONSTRAINT "fotos_inspeccion_inspeccionId_fkey" FOREIGN KEY ("inspeccionId") REFERENCES public.inspecciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: incidentes incidentes_amonestacionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.incidentes
    ADD CONSTRAINT "incidentes_amonestacionId_fkey" FOREIGN KEY ("amonestacionId") REFERENCES public.amonestaciones(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: incidentes incidentes_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.incidentes
    ADD CONSTRAINT "incidentes_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inspeccion_trabajador inspeccion_trabajador_inspeccionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspeccion_trabajador
    ADD CONSTRAINT "inspeccion_trabajador_inspeccionId_fkey" FOREIGN KEY ("inspeccionId") REFERENCES public.inspecciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inspeccion_trabajador inspeccion_trabajador_trabajadorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspeccion_trabajador
    ADD CONSTRAINT "inspeccion_trabajador_trabajadorId_fkey" FOREIGN KEY ("trabajadorId") REFERENCES public.trabajadores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inspecciones inspecciones_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT "inspecciones_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inspecciones inspecciones_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT "inspecciones_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inspecciones inspecciones_supervisorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.inspecciones
    ADD CONSTRAINT "inspecciones_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES public.supervisores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: mantenimientos mantenimientos_equipoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.mantenimientos
    ADD CONSTRAINT "mantenimientos_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES public.equipos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: mantenimientos mantenimientos_incidenteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.mantenimientos
    ADD CONSTRAINT "mantenimientos_incidenteId_fkey" FOREIGN KEY ("incidenteId") REFERENCES public.incidentes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notificaciones notificaciones_destinatarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT "notificaciones_destinatarioId_fkey" FOREIGN KEY ("destinatarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: registros_auditoria registros_auditoria_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.registros_auditoria
    ADD CONSTRAINT "registros_auditoria_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: supervisor_sucursal supervisor_sucursal_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.supervisor_sucursal
    ADD CONSTRAINT "supervisor_sucursal_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: supervisor_sucursal supervisor_sucursal_supervisorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.supervisor_sucursal
    ADD CONSTRAINT "supervisor_sucursal_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES public.supervisores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: supervisores supervisores_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.supervisores
    ADD CONSTRAINT "supervisores_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: trabajadores trabajadores_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Ramosa
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT "trabajadores_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: Ramosa
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict bmd3xPihJqNlGlq4P7z85IGuPOsEZ4ue0q7zbG8Y9EZvLwW1HDjSK6xAzL5Qvjv

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict eUEchH1E8KFQNGeWosEVcgwfEOw3YUCXPCoo2DHQoGmaqjfj2XdwQLM6z0hfzLx

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: Ramosa
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO "Ramosa";

\unrestrict eUEchH1E8KFQNGeWosEVcgwfEOw3YUCXPCoo2DHQoGmaqjfj2XdwQLM6z0hfzLx
\connect postgres
\restrict eUEchH1E8KFQNGeWosEVcgwfEOw3YUCXPCoo2DHQoGmaqjfj2XdwQLM6z0hfzLx

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: Ramosa
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict eUEchH1E8KFQNGeWosEVcgwfEOw3YUCXPCoo2DHQoGmaqjfj2XdwQLM6z0hfzLx

--
-- PostgreSQL database cluster dump complete
--

