# ===== Base de Datos (PostgreSQL Docker) =====
DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@localhost:5432/hse_database?schema=public"

# ===== JWT Autenticación =====
JWT_SECRET="cambiar-por-un-secreto-seguro"
JWT_EXPIRATION="24h"

# ===== Servidor =====
PORT=3001
